# firebase
FIREBASE_ADMIN_PROJECT_ID=

# Use o caminho absoluto do JSON da conta de serviço, fora do repositório
GOOGLE_APPLICATION_CREDENTIALS=

# Deixe vazios ao utilizar o arquivo JSON acima
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_PRIVATE_KEY=
